body {
  margin: 0px;
}

header {
    background-color: aquamarine;
    padding: 10px 15px;
}

header h2 {
  display: inline-block;
  margin: 0px;
}

header nav {
  float: right;
}

header nav ul {
    padding: 0px;
    margin: 0px;
}

header nav ul li {
  float: left;
  margin: 0px 10px;
  list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: #333;
    font-family: helvetica, arial;
}

h2.text {
  font-size: 100px;
}

section {
  background-color: green;
}

#text {
  background-color: blue;
}

.text {
  color: red;
}
